ic-page  header #prize {
	position:					absolute;
	bottom:						2rem;
	right:						0rem;
	width:						15rem;
	height:						7.98rem;
	background-size:			contain;
	background-repeat:			no-repeat;
	background-position:		100% 100%;
}


ic-page #sponsors {
	position:					relative;
	box-sizing: 				border-box;
	height:						15rem;
}

ic-page #sponsors h4 {
	position:					absolute;
	top:						1rem;
	left:						1rem;
	margin:						0;
}

ic-page #gesobau {
	position:					absolute;
	
	top:						4.25rem;
	left:						1rem;
	right:						1rem;

	width:						auto;
	height:						6.5rem;

	margin:						auto;

	background-image:			url(/images/large/gesobau_logo.jpg);
	background-size:			contain;
	background-repeat:			no-repeat;
	background-position:		50% 50%;
}