ic-page  header #prize {
	position:					absolute;
	bottom:						2rem;
	right:						0rem;
	width:						15rem;
	height:						7.98rem;
	background-size:			contain;
	background-repeat:			no-repeat;
	background-position:		100% 100%;
}


ic-page #sponsors {
	position:					relative;
	box-sizing: 				border-box;
	padding-top:				2rem;
	padding-bottom:				2rem;
}

ic-page #sponsors h4 {
	position:					absolute;
	top:						1rem;
	left:						1rem;
	margin:						0;
}

ic-page #sponsors .logos {
	display:					flex;
	flex-wrap:					wrap;
}

ic-page #sponsors .logos > * {
	flex:						1 0 12rem;
	max-width:					100%;
	background-size:			contain;
	background-repeat:			no-repeat;
	background-position:		50% 50%;
	height:						6.5rem;
	margin:						1rem;
}




